<a href="https://colab.research.google.com/github/aman7895/CNN_AuthorshipID/blob/master/WhatsApp_Chat_Analyser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WhatsApp Chat Analyser

In [66]:
# Reading chat in a list

import re
import pandas as pd

# Regex has .* and then ? to make it non-greedy
# Without a ? it will select the largest match possible
# Else the shortest one possible

with open("WhatsApp Chat with My Love.txt") as reader:
  data = re.findall(r'([0-9\/].*), ([0-9:].*?) - ([a-zA-Z].*?): (.*)', reader.read())

# Converting data (list object) into a dataframe
chat = pd.DataFrame(data, columns = ['Date', 'Time', 'Sender', 'Message'])

chat

            Date  ...                                            Message
0        6/22/18  ...                                         Hey Varada
1        6/22/18  ...                     This is Aman, Subodh's friend!
2        6/22/18  ...                                  How're you doing?
3        6/22/18  ...                                               Hey!
4        6/22/18  ...                             I'm good! How are you?
...          ...  ...                                                ...
306611  11/28/19  ...                                                Bye
306612  11/28/19  ...                                         I love you
306613  11/28/19  ...                                   Sorry about this
306614  11/28/19  ...  I wasn't turning hotels into anything crazy. I...
306615  11/28/19  ...  Here’s a show for you… 2nd Date Update UPDATE ...

[306616 rows x 4 columns]

In [59]:
# Counting messages per person

# Counting messages per person considering 
# data to be a list object
def count_oldWay(data):
  a_count = 0

  # The third column of a row in the list has the name
  for i in range(len(data)):
    if data[i][2] == 'Aman Middha':
      a_count = a_count + 1

  b_count = len(data) - a_count

  print('Total messages by Person A: ' + str(a_count))
  print('Total messages by Person B: ' + str(b_count))

# Counting messages using Pandas

def count_messages_per_person(data):
  
  a_count = data[data['Sender'] == 'Aman Middha']['Sender'].count()
  v_count = data['Sender'].count() - a_count

  print('Total messages by Aman: ' + str(a_count))
  print('Total messages by Varada: ' + str(v_count))




# count_oldWay(data)
count_messages_per_person(chat)

Total messages by Aman: 167193
Total messages by Varada: 139423

In [72]:
# New column with words per message
chat['Count of Words'] = chat['Message'].str.count(' ')

# Max number of words in a message
max_words_message = chat['Count of Words'].max()

# Total words in the conversation
chat[['Count of Words']].count()

TypeError: ignored